.maincomponent
{
    background-color:rgb(206, 14, 14);
    text-align: justify;
    color: black;
    display: flex;
}
.boxcls
{ display:flex;
    border: 2px solid red;
}
.box
{ 
    width: 150px;
    height: 150px;
    font-size:8em;
    border-radius: 17px;
}
#box1
{
    background-color:blue ;
    transition: width 2s;
}
#box2
{
    background-color: rgb(30, 226, 30);
}
#box3
{ 
    background-color: rgb(228, 24, 24);

}
#box4
{
    background-color: aqua;
}
#box5
{
    background-color: aquamarine;
}
#box1:hover{
background-color: aqua;
width: 500px;
height: 250px;
}






.newboxs
{
    border: 2px solid red;
}
.newbox
{
    width:180px ;
    height:180px ;
    font-size: 6em;
    border-radius:16px ;
    background-color:rgb(238, 20, 20) ;
    transition: width 2s ;
}
#b1
{
    background-color: azure;
    transition-timing-function: linear;
    transition: width 2s;
}
#b1:hover
{
 background-color: black;   
 width:100px;
 height:100px;
}
#b2 
{
    background-color: blue;
    transition-timing-function: linear;
    transition: width 2s; 
}
#b2:hover
{
    background-color: brown;
    width: 100px;
    height: 100px;
}
#b3
{
    background-color: blue;
    transition-timing-function: linear;
    transition: width 2s;
}
#b3:hover
{
    background-color: blanchedalmond;
    width: 100px;
    height:100px;
}
#b4
{
    background-color: azure;
    transition-timing-function: linear;
    transition: width 2s;
}
#b4:hover
{
    background-color: antiquewhite;
    width: 100px;
    height: 100px;
}
#b5 
{
    background-color: beige;
    transition-timing-function: linear;
    transition: width 2s;
}
#b5:hover
{
    background-color: beige;
    width: 100px;
    height: 100px;
}

.newrotate
{
    width:200px;
    height:200px;
    border-radius: 16px;
    background-color: aqua;


    transition:width 2s, height 2s, transform 2s,}
#newrotate:hover
{
    width:600px;
    height: 600px;
    background-color: blueviolet;
    transform: rotate(18deg);

}



.scrolltext
{
    font-family: 'Lucida Sans';
    font-style: oblique;
    font-size: 30px;
    width: 100%;
    color: yellowgreen;
    overflow: hidden;
    box-sizing: border-box;
    border: 2px solid orange;
    white-space: nowrap;
}
.scrolltext span 
{
    display: inline-block;
    padding-left: 100%;
    animation-name: scroll-right-left;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes scroll-right-left {
    from{transform:translateX(100%);}
    to{transform:translateX(-100%);}
}

.scrollright
{   font-family: 'Lucida Sans';
    font-style: oblique;
    font-size: 30px;
    width: 100%;
    color: yellowgreen;
    overflow: hidden;
    box-sizing: border-box;
    border: 2px solid orange;
    white-space: nowrap;
}
