body
{
    background-color: rgb(61, 113, 173);
    margin:0%;
    height: 100vh;
    overflow:hidden;
}
.sun 
{
    position: absolute;
    top: 100px;
    left: 70%;
    width: 120px;
    height: 120px;
    background-color: orange;
    border-radius: 50%;
    box-shadow: 0 0 40px 15px yellow ;
    animation-name: shadow-ani;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes shadow-ani {
    from{box-shadow: 0 0 15px 9px yellow ;}
    to{box-shadow: 0 0 60px 25px yellow;}
}









